* {
    box-sizing: border-box;
    
}

body {
    background-color: rgb(236, 236, 236);
    height: 1000x;
}

.navigation {
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    min-width: 500px;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    /* flex-wrap: unset; */
}

#form {
    text-transform: capitalize;
}
/* logo */
.navigation #img:hover {
    border-bottom: none;
}


.navigation a {
    font-family: 'Dosis', sans-serif;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 10px;
}

.navigation a:hover {
    border-bottom: 3px red solid;
    padding-bottom: 3px;
    text-decoration: none;
    text-decoration-color: rgb(198, 25, 25);
}

a:active {
    font-size: smaller;
}

.navigation li {
    display: inline-flex;
}






/* body */

.div1 {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 95px;
    flex-direction: row;
    flex-grow: 3;
    left: 0;
}

.sec h2, .sec p, .sec a {
    position: relative;
    top: 200px;
    left: 40px;
    width: 250px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: "Jost", sans-serif;
}

section a {
    text-decoration: none;
    color: black;
    border-bottom: red 2px solid;
    padding-bottom: 3px;
}

section a:hover {
    border: none;
}

.women {
    background-color: #ee95f8 !important;

}

.sec2 {
    background-color: #b2ecf0;
    width: 400px;
    height: 400px;
    margin: 10px;
    flex-grow: 1;
}

.sec2 h2, .sec2 p, .sec2 a {
    position: relative;
    top: 100px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Jost', sans-serif;
    left: 20px;
}

.kid {
    background-color: #dfcadf;
}

.cosmetics {
    background-color: #d2f1bf;
}

.accessories {
    background-color: #b9b9b9;
}


footer{
    position: relative;
    background-color: #b7b7b7;
    width: 100%;
    bottom: 0;
    display: inline-flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 200px;
    height: 200px;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    color: #271313;
    text-decoration: none;
    list-style: none;
}

footer li {
    border-left: rgb(138, 138, 167) 3px solid;
    padding-left: 10px;
    margin: 5px;
}

footer ul {
    position: relative;
    top: 20px;
    left: 30px;
    display: flex;
    flex-direction: column;
   
}
